.app_todo_list{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app_todo_list_container{
    min-height: 10px;
    background-color: #353432b3;
    padding: 20px;
}
.logout_button{
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  color: #000000;
  background-color: #5ce0e0;
  text-decoration: none;
  padding: 5px;
}
.title{
    color: #5ce0e0;
    padding-bottom: 15px;
    text-align: center;
}

/* #dropdown_menu{
    display: block;
    border: none;
    outline: none;
    background-color: #00ffff;
    margin-top: 10px;    
} */

/* button{
    border: none;
    font-size: 16px;
    background-color: transparent;
    vertical-align: sub;
    margin-left: 10px;
    cursor: pointer;
}
.button{
    color: #303131;
    margin-top: 15px;
} */

/* .icon_plus,
.icon_edit,
.icon_delete,
.icon_lock_close,
.icon_lock_open{
    width: 30px;
    height: 30px;
    vertical-align: sub;
} */



  
  /* .success-message {
    font-family: "Roboto", sans-serif;
    background-color: #3f89f8;
    padding: 15px;
    color: white;
  }
   */
 
/*   
  span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
  }
  

  input:focus{
    border:  2px solid #5ce0e0;
  }
  
  .error {
    font-size: 15px;
    color: #303131;
    background-color: #5ce0e0;
  } */
  
  /* button {
    background: #5ce0e0;
    color: #000000;
    cursor: pointer;
  } */
  
  /* button:disabled {
    cursor: default;
  } */
