.input_text{
    border: 0;
    outline: none;
    width: 250px;
    height: 30px;
    background-color: #5ce0e0;
    color: #000000;
}
.input_text::-webkit-input-placeholder{
  color: #000000;
}
.input_text:focus{
    border-radius: 15px;
  }
  .btn_add_task{
    border: none;
    outline: none;
    font-size: 10px;
    background-color: #5ce0e0;
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
  }